.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    
}



select{
    height: 30px;
    background-color: aliceblue;
    color: black;
    box-shadow: 1px 5px black;
}

body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ddd;
    background-image: linear-gradient(to right, rgb(60, 60, 208), rgb(2, 2, 135));
}

#routes {
    font-size: x-large;
}
button{
    width: 30%;
    height: 30px;
    font-weight: bolder;
    background-image: linear-gradient(to right, rgb(192, 192, 251), rgb(255, 226, 189));
    border-radius: 5px;
    box-shadow: 1px 5px black;
}